[submodule "imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	branch = stable
[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "FastNoise"]
	path = submodules/FastNoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "glslcc"]
	path = submodules/glslcc
	url = https://github.com/septag/glslcc.git
[submodule "spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ImGuizmo"]
	path = submodules/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
