[submodule "imgui"]
	path = imgui
	url = https://github.com/AbdullrahmanAlzeidi/imgui.git
	branch = docking
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
