[submodule "imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	branch = stable
[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "submodules/FastNoise"]
	path = submodules/FastNoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "submodules/glslcc"]
	path = submodules/glslcc
	url = https://github.com/septag/glslcc.git
